<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V13</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/static/register/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/register/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/register/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/register/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/register/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/register/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/register/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/register/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/register/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/register/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/register/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/register/css/main.css">
<!--===============================================================================================-->
	<script src="https://unpkg.com/imask"></script> 	
</head>
<body style="background-color: #999999;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('/static/register/images/bg-01.jpg');"></div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<div id="confirmer">
					<span class="login100-form-title p-b-59">
						Confirmation
					</span>
						<div v-if="codesend">
							<div v-if=" result['issuccess']" class="alert alert-success" role="alert">
								${ result['message'] }
							</div>
							<div v-if="!result['issuccess']" class="alert alert-danger" role="alert">
								${ result['message'] }
							</div>
						</div>
					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<span class="label-input100">Entrer le code</span>
                       
						<input v-model = "confirme" class="input100" type="text" name="confirme" >
						<span class="focus-input100"></span>
					</div>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button v-on:click= " sendregister " class="login100-form-btn">
								Valider
							</button>
                            
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="/static/register/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/register/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/register/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/register/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/register/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/register/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/register/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/register/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/static/register/js/main.js"></script>
	{% comment %} <script>
		var contact = document.getElementById('contact');
		var maskOptions = {
		mask: '+{225} 00-00-00-00'
		};
		var mask = IMask(contact, maskOptions);
	</script> {% endcomment %}

</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>

var app = new Vue({
            
            el: '#confirmer',
            data: {
                confirme: '',
                message : '',
                isregister: false,
                codesend : false,
                result: '',
                issuccess: '',
                
                
            },
            delimiters: ["${", "}"],
            
            methods: {
                sendregister: function(){
                    this.isregister= true
                    axios.defaults.xsrfCookieName = 'csrftoken'
                    axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                    axios.post('http://127.0.0.1:8000/confirmation/', {
                        confirme: this.confirme,
                        }).then(response => {
                            //console.log(response);
                            this.result= response.data;
                            console.log(this.result)
                            this.isregister= false;
                            this.codesend = true;
                            console.log(this.result);
                            this.issuccesss= this.result.issuccess;
                            
                            
                        })
                        .catch((err) => {
                        console.log(err);
                        this.isregister= false
                    })
                },
                
            }
        })

    </script>